SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed
*/2  *  *  *  * root       /usr/bin/dontwi.sh
# Above entry is usual case.
#
#*/2  *  *  *  * root       /opt/dontwi/dontwi.sh
# When you want to place dontwi.ini in not default another directory, you can use
# '--config-file' option. For example above entry using 'dontwi.sh' which executes
# '/usr/bin/dontwi' with '--config-file' option.
