[Unit]
Description=Dontwi
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/dontwi
WorkingDirectory=/opt/dontwi

[Install]
WantedBy=default.target
